.row.animated.fadeInRight
  .col-sm-12
    .ibox
      .ibox-content{:style => "border-radius: 4px"}
        .col-md-6.col-xs-12
          .profile-image
            -# %img.img-circle.circle-border.m-b-md{:alt => "profile", :src => "#{image_url @member.picture_url ? @member.picture_url : image_path('user-icon.png')}"}/
          .profile-info
            %div
              %div
                %h2.no-margins
                  =@contact.preferred_full_name
                %p{:title =>"email"}
                  %i.fa.fa-envelope
                    =mail_to "#{@contact.email}"
                %p{:title => "Phone"}
                  %i.fa.fa-phone
                    =link_to @contact.primary_phone ? @contact.primary_phone : ""
        .col-md-3
          %table.table.small.m-b-xs
            %tbody
              %tr
                %td
                  %strong 142
                  Hours
                %td
                  %strong 22
                  Followers
              %tr
                %td
                  %strong 61
                  Comments
                %td
                  %strong 54
                  Articles
              %tr
                %td
                  %strong 154
                  Tags
                %td
                  %strong 32
                  Friends
        .col-md-3.col-sm-6
          .br
            .user-button
              .row
                .col-md-8
                  %button.btn.btn-primary.btn-sm.btn-block{:type => "button"}
                    %i.fa.fa-envelope
                    Send Message
        .clearfix
