#ajax-modal.modal.inmodal.fade
  .modal-dialog
    .modal-content
      .modal-loader
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title Comunidades Unidas
      .modal-body
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    / /.modal-content
  / /.modal-dialog
/ /.modal
